@font-face {
  font-family: "Lato";
  src: url("@assets/fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("@assets/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("@assets/fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lost";
  src: url("@assets/fonts/Lost.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icons";
  src: url("@assets/fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

[class*=_icon-] {
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-blockquote-icon:before {
  content: "\e901";
}

._icon-ion_caret-down:before {
  content: "\e902";
}

._icon-ion_cart:before {
  content: "\e903";
}

._icon-ion_person:before {
  content: "\e904";
}

._icon-ion_play-sharp:before {
  content: "\e905";
}

._icon-ion_search:before {
  content: "\e906";
}

._icon-ion_star:before {
  content: "\e907";
}

._icon-la_angle-down:before {
  content: "\e908";
}

._icon-radio-btn:before {
  content: "\e909";
}

._icon-s-facebook:before {
  content: "\e90a";
}

._icon-s-instagram:before {
  content: "\e90b";
}

._icon-s-linkedin:before {
  content: "\e90c";
}

._icon-social-hover:before {
  content: "\e90d";
}

._icon-s-twitter:before {
  content: "\e90e";
}

._icon-s-youtube:before {
  content: "\e90f";
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  padding-block: 1.5625rem;
  color: #272727;
  width: 100%;
  background-color: #FFF;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
.header__logo {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  z-index: 2;
  color: #272727;
}
@media (min-width: 90em) {
  .header__logo {
    font-size: 2.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .header__logo {
    font-size: clamp( 1.75rem , 1.6607142857rem  +  0.4464285714vw , 2.0625rem );
  }
  @supports (font-size: clamp( 1.75rem , 1.6607142857rem  +  0.4464285714vw , 2.0625rem )) {
    .header__logo {
      font-size: clamp( 1.75rem , 1.6607142857rem  +  0.4464285714vw , 2.0625rem );
    }
  }
}
@media (max-width: 20em) {
  .header__logo {
    font-size: 1.75rem;
  }
}
@media (any-hover: hover) {
  .header__logo:hover {
    color: #72AEC8;
  }
}
.header__logo a span {
  color: #72AEC8;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 90em) {
  .header__menu {
    -webkit-column-gap: 8.75rem;
       -moz-column-gap: 8.75rem;
            column-gap: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .header__menu {
    -webkit-column-gap: clamp( 1.25rem , -0.8928571429rem  +  10.7142857143vw , 8.75rem );
       -moz-column-gap: clamp( 1.25rem , -0.8928571429rem  +  10.7142857143vw , 8.75rem );
            column-gap: clamp( 1.25rem , -0.8928571429rem  +  10.7142857143vw , 8.75rem );
  }
  @supports ((-moz-column-gap: clamp( 1.25rem , -0.8928571429rem  +  10.7142857143vw , 8.75rem )) or (column-gap: clamp( 1.25rem , -0.8928571429rem  +  10.7142857143vw , 8.75rem ))) {
    .header__menu {
      -webkit-column-gap: clamp( 1.25rem , -0.8928571429rem  +  10.7142857143vw , 8.75rem );
         -moz-column-gap: clamp( 1.25rem , -0.8928571429rem  +  10.7142857143vw , 8.75rem );
              column-gap: clamp( 1.25rem , -0.8928571429rem  +  10.7142857143vw , 8.75rem );
    }
  }
}
@media (max-width: 20em) {
  .header__menu {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 47.99875rem) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem 0.9375rem 0.9375rem 1.875rem;
    -webkit-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
    background-color: #D7DDDF;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    -webkit-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
    z-index: 5;
    background-color: #EDF1F3;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0875rem;
  line-height: 148%;
  text-transform: uppercase;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 90em) {
  .menu__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .menu__list {
    -webkit-column-gap: clamp( 0.75rem , 0.5178571429rem  +  1.1607142857vw , 1.5625rem );
       -moz-column-gap: clamp( 0.75rem , 0.5178571429rem  +  1.1607142857vw , 1.5625rem );
            column-gap: clamp( 0.75rem , 0.5178571429rem  +  1.1607142857vw , 1.5625rem );
  }
  @supports ((-moz-column-gap: clamp( 0.75rem , 0.5178571429rem  +  1.1607142857vw , 1.5625rem )) or (column-gap: clamp( 0.75rem , 0.5178571429rem  +  1.1607142857vw , 1.5625rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.75rem , 0.5178571429rem  +  1.1607142857vw , 1.5625rem );
         -moz-column-gap: clamp( 0.75rem , 0.5178571429rem  +  1.1607142857vw , 1.5625rem );
              column-gap: clamp( 0.75rem , 0.5178571429rem  +  1.1607142857vw , 1.5625rem );
    }
  }
}
@media (max-width: 20em) {
  .menu__list {
    -webkit-column-gap: 0.75rem;
       -moz-column-gap: 0.75rem;
            column-gap: 0.75rem;
  }
}
@media (max-width: 47.99875rem) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.1875rem;
    font-size: 2.1875rem;
    -webkit-padding-before: 4.375rem;
            padding-block-start: 4.375rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.menu__item {
  position: relative;
}
.menu__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #72AEC8;
  }
}
.menu__toggle-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  letter-spacing: 0.0875rem;
  line-height: 148%;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu__toggle-btn:focus, .menu__toggle-btn:active {
  color: #72AEC8;
}
@media (any-hover: hover) {
  .menu__toggle-btn:hover {
    color: #72AEC8;
  }
}
.menu__toggle-btn span {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  font-size: 0.875rem;
}
.menu__toggle-btn.open span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.menu__subnav {
  background-color: #D3D3D3;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  line-height: 1.7;
  z-index: 10;
  min-width: 9.375rem;
  -webkit-box-shadow: 0 2px 4px #72AEC8;
          box-shadow: 0 2px 4px #72AEC8;
  border-radius: 0.5rem;
  padding-inline: 0.625rem;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s, padding 0.5s ease-in-out;
  transition: max-height 0.5s, padding 0.5s ease-in-out;
}
.menu__subnav::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
.menu__subnav.open {
  padding-block: 0.625rem;
  overflow: auto;
  max-height: 300px;
}
@media (max-width: 47.99875rem) {
  .menu__subnav {
    position: relative;
    background-color: #EDF1F3;
    font-size: 1.5625rem;
    top: 0;
  }
  .menu__subnav.open {
    max-height: 300px;
    overflow: scroll;
  }
}
.menu__subnav-item {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .menu__subnav-item:hover {
    background-color: #72AEC8;
  }
}
@media (min-width: 47.99875rem) {
  .menu__subnav-item a:focus, .menu__subnav-item a:active {
    background-color: #72AEC8;
    outline: none;
  }
}
.menu__subnav-link {
  width: 100%;
}

.actions-header {
  z-index: 2;
}
.actions-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.125rem;
}
@media (min-width: 90em) {
  .actions-header__items {
    -webkit-column-gap: 1.1875rem;
       -moz-column-gap: 1.1875rem;
            column-gap: 1.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .actions-header__items {
    -webkit-column-gap: clamp( 0.625rem , 0.4642857143rem  +  0.8035714286vw , 1.1875rem );
       -moz-column-gap: clamp( 0.625rem , 0.4642857143rem  +  0.8035714286vw , 1.1875rem );
            column-gap: clamp( 0.625rem , 0.4642857143rem  +  0.8035714286vw , 1.1875rem );
  }
  @supports ((-moz-column-gap: clamp( 0.625rem , 0.4642857143rem  +  0.8035714286vw , 1.1875rem )) or (column-gap: clamp( 0.625rem , 0.4642857143rem  +  0.8035714286vw , 1.1875rem ))) {
    .actions-header__items {
      -webkit-column-gap: clamp( 0.625rem , 0.4642857143rem  +  0.8035714286vw , 1.1875rem );
         -moz-column-gap: clamp( 0.625rem , 0.4642857143rem  +  0.8035714286vw , 1.1875rem );
              column-gap: clamp( 0.625rem , 0.4642857143rem  +  0.8035714286vw , 1.1875rem );
    }
  }
}
@media (max-width: 20em) {
  .actions-header__items {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}
.actions-header__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.125rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.actions-header__link:focus, .actions-header__link:active {
  color: #72AEC8;
}
@media (any-hover: hover) {
  .actions-header__link:hover {
    color: #72AEC8;
  }
}
.actions-header__link:last-child span {
  font-size: 0.75rem;
  line-height: 1;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875rem) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
}
@media (max-width: 47.99875rem) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 47.99875rem) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}