<div class="latest">
  <div class="latest__container">
    <div class="latest__header">
      <h2 class="latest__title title">Latest Posts</h2>
      <button class="latest__button">Read blogs</button>
    </div>
    <div class="latest__items">
      <article class="latest__post-card card-post">
        <a href="#" class="card-post__image">
          <img src="images/latest/01.jpg" alt="image-latest" class="card-post__img">
        </a>
        <div class="card-post__meta-post post-meta">
          <time datetime="2023-02-22" class="post-meta__time">feb 22, 2023</time>
          <div class="post-meta__arrow">-</div>
          <span class="post-meta__category">Gadgets</span>
        </div>
        <h3 class="card-post__title-post">
          <a href="#" class="card-post__link-post">Get some cool gadgets in 2023</a>
        </h3>
      </article>
      <article class="latest__post-card card-post">
        <a href="#" class="card-post__image">
          <img src="images/latest/02.jpg" alt="image-latest" class="card-post__img">
        </a>
        <div class="card-post__meta-post post-meta">
          <time datetime="2023-02-22" class="post-meta__time">feb 22, 2023</time>
          <div class="post-meta__arrow">-</div>
          <span class="post-meta__category">technology</span>
        </div>
        <h3 class="card-post__title-post">
          <a href="#" class="card-post__link-post">TECHNOLOGY HACK YOU WON’T GET</a>
        </h3>
      </article>
      <article class="latest__post-card card-post">
        <a href="#" class="card-post__image">
          <img src="images/latest/03.jpg" alt="image-latest" class="card-post__img">
        </a>
        <div class="card-post__meta-post post-meta">
          <time datetime="2023-02-22" class="post-meta__time">feb 22, 2023</time>
          <div class="post-meta__arrow">-</div>
          <span class="post-meta__category">camera</span>
        </div>
        <h3 class="card-post__title-post">
          <a href="#" class="card-post__link-post">toP 10 SMALL cAMERA IN THE WORLD</a>
        </h3>
      </article>
    </div>

  </div>
</div>