@use "../../scss/colors" as *;
@use "../../scss/mixins" as *;
@use "../../scss/fonts" as *;

@use "../../scss/reset" as *;
@use "../../scss/icons" as *;

// Компоненти
@use "../../scss/common" as *;

.latest {
  @include adaptiveValue("padding-block-start", 120, 25);
  // .latest__container

  &__container {
  }

  // .latest__header

  &__header {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: toRem(30);
      @media (max-width: toEm(767.98)) {
        margin-bottom: toRem(15);
      }
    }
    @media (min-width: toEm(767.98)) {
      display: flex;
      align-items: center;
      column-gap: toRem(20);
      justify-content: space-between;
    }
  }

  // .latest__title

  &__title {
    text-align: center;
    @media (max-width: toEm(767.98)) {
      &:not(:last-child) {
        margin-bottom: toRem(7);
      }
    }
  }

  // .latest__button

  &__button {
    color: $blackColor;
    font-size: toRem(14);
    font-weight: 500;
    letter-spacing: toRem(1.4);
    text-transform: uppercase;
    margin-bottom: toRem(2);
    line-height: 1.48;
    border-bottom: 3px solid $greyRectangleColor;
    transition:
      color 0.3s ease-in-out,
      border-bottom 0.3s ease-in-out;
    will-change: border-bottom;
    @media (any-hover: hover) {
      &:hover {
        color: $blueColor;
        border-bottom: 3px solid $blueColor;
      }
    }
    @media (max-width: toEm(767.98)) {
      margin-bottom: toRem(0);
    }
  }

  // .latest__post-card
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(20);
    flex-wrap: wrap;
    @media (max-width: toEm(767.98)) {
      grid-template-columns: repeat(2, 1fr);
      gap: toRem(10);
    }
    @media (max-width: toEm(470)) {
      grid-template-columns: 1fr;
      row-gap: toRem(20);
    }
  }
  &__post-card {
  }
}
