<div class="mobile-products ">
  <div class="mobile-products__products-section">
    <div class="products-section">
      <div class="products-section__container">

        <div class="products-section__header">
          <h2 class="products-section__title title">Mobile Products</h2>
          <a href="#" class="products-section__link">Go to Shop</a>
        </div>

        <div class="products-section__slider swiper">
          <div class="products-section__wrapper swiper-wrapper">
            <div class="products-section__slide swiper-slide">
              <div class="products-section__carts cards-products">
                <figure class="cards-products__card">
                  <img src="images/mobile-products/01.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Iphone 10</h4>
                    <p class="cards-products__price">$980</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/mobile-products/02.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Iphone 11</h4>
                    <p class="cards-products__price">$1100</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/mobile-products/03.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Iphone 8</h4>
                    <p class="cards-products__price">$780</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/mobile-products/04.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Iphone 13</h4>
                    <p class="cards-products__price">$1500</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

              </div>
            </div>
            <div class="products-section__slide swiper-slide">
              <div class="products-section__carts cards-products">
                <figure class="cards-products__card">
                  <img src="images/mobile-products/01.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Iphone 10</h4>
                    <p class="cards-products__price">$980</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/mobile-products/02.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Iphone 11</h4>
                    <p class="cards-products__price">$1100</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/mobile-products/03.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Iphone 8</h4>
                    <p class="cards-products__price">$780</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/mobile-products/04.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Iphone 13</h4>
                    <p class="cards-products__price">$1500</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

              </div>
            </div>
            <div class="products-section__slide swiper-slide">
              <div class="products-section__carts cards-products">
                <figure class="cards-products__card">
                  <img src="images/mobile-products/01.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Iphone 10</h4>
                    <p class="cards-products__price">$980</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/mobile-products/02.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Iphone 11</h4>
                    <p class="cards-products__price">$1100</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/mobile-products/03.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Iphone 8</h4>
                    <p class="cards-products__price">$780</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/mobile-products/04.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Iphone 13</h4>
                    <p class="cards-products__price">$1500</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

              </div>
            </div>
          </div>
          <div class="products-section__swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>