<div data-aos="zoom-in-up" data-aos-duration="2000" class="page__hero hero">
  <div class="hero__inner">
    <button type="button" class="hero__swiper-button hero__swiper-button--prev _icon-arrow"></button>

    <div class="hero__wraper">
      <div class="hero__swiper swiper">
        <!--Обгортка для слайдів-->
        <div class="swiper-wrapper hero__swiper-wrapper">
          <div class="swiper-slide hero__slide">
            <div class="hero__content  content-slide">
              <div class="content-slide__body">
                <div class="product-praise">
                  <h2 class="product-praise__title ">Your Products are great.</h2>
                  <a href="#" class="product-praise__button">Shop Product</a>
                </div>
              </div>
              <div class="content-slide__image">
                <img src="images/hero/daniel-korpai-hbTKIbuMmBI-unsplash.png" alt="Image">
              </div>
            </div>
          </div>

          <div class="swiper-slide hero__slide">
            <div class="hero__content  content-slide">
              <div class="content-slide__body">
                <div class="product-praise">
                  <h2 class="product-praise__title ">Your Products are great.</h2>
                  <a href="#" class="product-praise__button">Shop Product</a>
                </div>
              </div>
              <div class="content-slide__image">
                <img src="images/hero/daniel-korpai-hbTKIbuMmBI-unsplash.png" alt="Image">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <button type="button" class="hero__swiper-button hero__swiper-button--next _icon-arrow"></button>
  </div>
</div>

