<div class="insta">
  <div class="insta__container">
    <h3 data-aos="fade-up"  data-aos-duration="400" data-aos-offset="300" class="insta__title title">Shop our insta</h3>
    <div class="insta__items">
      <a data-aos="zoom-in" data-aos-delay="700" href="#" class="insta__item _icon-social-hover">
        <img src="images/insta/01.jpg" alt="image" class="insta__image">
      </a>
      <a data-aos="zoom-in" data-aos-delay="800" href="#" class="insta__item _icon-social-hover">
        <img src="images/insta/02.jpg" alt="image" class="insta__image">
      </a>
      <a data-aos="zoom-in" data-aos-delay="1100" href="#" class="insta__item _icon-social-hover">
        <img src="images/insta/03.jpg" alt="image" class="insta__image">
      </a>
      <a data-aos="zoom-in" data-aos-delay="1400" href="#" class="insta__item _icon-social-hover">
        <img src="images/insta/04.jpg" alt="image" class="insta__image">
      </a>
      <a data-aos="zoom-in" data-aos-delay="1600" href="#" class="insta__item _icon-social-hover">
        <img src="images/insta/05.jpg" alt="image" class="insta__image">
      </a>
    </div>
  </div>
</div>