<div class="insta">
  <div class="insta__container">
    <h3 class="insta__title title">Shop our insta</h3>
    <div class="insta__items">
      <a href="#" class="insta__item _icon-social-hover">
        <img src="images/insta/01.jpg" alt="image" class="insta__image">
      </a>
      <a href="#" class="insta__item _icon-social-hover">
        <img src="images/insta/02.jpg" alt="image" class="insta__image">
      </a>
      <a href="#" class="insta__item _icon-social-hover">
        <img src="images/insta/03.jpg" alt="image" class="insta__image">
      </a>
      <a href="#" class="insta__item _icon-social-hover">
        <img src="images/insta/04.jpg" alt="image" class="insta__image">
      </a>
      <a href="#" class="insta__item _icon-social-hover">
        <img src="images/insta/05.jpg" alt="image" class="insta__image">
      </a>
    </div>
  </div>
</div>