<div class="page__sale">
  <div class="sale">
    <div class="sale__content">
      <div class="sale__body">
        <div class="sale__text-wrapper">
          <div class="sale__subtext title">
            <p>10% off</p>
          </div>
          <div class="product-praise">
            <h2 class="product-praise__title product-praise__title--margin">New year sale </h2>
            <a href="#" class="product-praise__button">Shop sale</a>
          </div>
        </div>
  
      </div>
      <div class="sale__image">
        <img src="images/sale/mobile1.png" alt="mobile-image" class="sale__img">
      </div>
    </div>
  </div>
</div>


<!--<div class="page__featured featured">
  <div class="featured__content">
    <div class="featured__body">
      <h1 class="featured__title">
        New year sale
      </h1>
      <div class="featured__items">
        <article class="featured__item item-featured">
          <a href="#" class="item-featured__link">
            <img class="item-featured__image" src="images/insta/04.jpg" alt="Image">
          </a>
          <div class="item-featured__body">
            <time datetime="2025-10-01" class="item-featured__date"></time>
            <h2 class="item-featured__title">
              <a href="#" class="item-featured__link-title">
                A beatuful solo trip to the Lake
              </a>
            </h2>
            <div class="item-featured__text">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis saepe quasi facere, esse delectus
                ad placeat cum.
              </p>
            </div>
          </div>
        </article>
        <article class="featured__item item-featured">
          <a href="#" class="item-featured__link">
            <img class="item-featured__image" src="images/insta/01.jpg" alt="Image">
          </a>
          <div class="item-featured__body">
            <time datetime="2025-10-01" class="item-featured__date"></time>
            <h2 class="item-featured__title">
              <a href="#" class="item-featured__link-title">
                A beatuful solo trip to the Lake
              </a>
            </h2>
            <div class="item-featured__text">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis saepe quasi facere, esse delectus
                ad
                placeat cum.
              </p>
            </div>
          </div>
        </article>
        <article class="featured__item item-featured">
          <a href="#" class="item-featured__link">
            <img class="item-featured__image" src="images/insta/02.jpg" alt="Image">
          </a>
          <div class="item-featured__body">
            <time datetime="2025-10-01" class="item-featured__date"></time>
            <h2 class="item-featured__title">
              <a href="#" class="item-featured__link-title">
                A beatuful solo trip to the Lake
              </a>
            </h2>
            <div class="item-featured__text">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis saepe quasi facere, esse delectus
                ad
                placeat cum.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="featured__destinations destinations-featured">
      <div class="destinations-featured__content">
        <h2 class="destinations-featured__title">
          <a href="#" class="destinations-featured__link-title">
            Lorem ipsum dolor sit amet
          </a>
        </h2>
        <div class="destinations-featured__text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <img src="images/sale/mobile.png" alt="image" class="destinations-featured__image">
    </div>
  </div>
</div>-->