<div data-aos-duration="1000" data-aos="fade-up"
     data-aos-anchor-placement="top-center" class="subscribe">
  <div class="subscribe__container">
    <div class="subscribe__body">
      <div class="subscribe__content">
          <h3 class="subscribe__title title">Subscribe Us now</h3>
          <p class="subscribe__text">Get latest news, updates and deals directly mailed to your inbox.</p>
      </div>
      <div class="subscribe__form form">
        <form class="form__form" required action="#" method="POST">
          <input type="text" name="form[email]" data-error="Error" placeholder="Your email address here" class="form__input">
          <button type="submit" class="form__button button">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>