@use "../../scss/colors" as *;
@use "../../scss/mixins" as *;
@use "../../scss/fonts" as *;

@use "../../scss/reset" as *;
@use "../../scss/icons" as *;

.header {
	padding-block: toRem(25);
	color: $blackColor;
	position: relative;
	z-index: 2;
	// .header__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: toRem(20);
	}

	// .header__logo

	&__logo {
		font-family: "Jost", sans-serif;
		font-weight: 400;
		transition: color 0.3s;
		z-index: 2;
		color: $blackColor;
		@include adaptiveValue("font-size", 33, 28);
		@media (any-hover: hover) {
			&:hover {
				color: $blueColor;
			}
		}
		a {
			span {
				color: $blueColor;
			}
		}
	}

	// .header__menu

	&__menu {
		display: flex;
		@include adaptiveValue("column-gap", 140, 20);
	}

	// .header__actions

	&__actions {
	}
}
.menu {
	// .menu__body

	&__body {
		@media (max-width: toRem(767.98)) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 0;
			overflow: auto;
			padding: toRem(50) toRem(15) toRem(15) toRem(30);
			transition: left 0.3s ease-in-out;
			background-color: $grayBluelightColor;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: toRem(70);
				left: -100%;
				top: 0;
				transition: left 0.3s ease-in-out;
				z-index: 5;
				background-color: $greyColor;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		align-items: center;
		font-size: toRem(14);
		font-weight: 500;
		letter-spacing: toRem(1.4);
		line-height: 148%;
		text-transform: uppercase;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 25, 12);
		@media (max-width: toRem(767.98)) {
			flex-direction: column;
			row-gap: toRem(35);
			font-size: toRem(35);
			padding-block-start: toRem(70);
			align-items: start;
		}
	}

	// .menu__item

	&__item {
		position: relative;
	}

	// .menu__link

	&__link {
		transition: color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: $blueColor;
			}
		}
	}

	// .menu__toggle-btn

	&__toggle-btn {
		display: inline-flex;
		align-items: center;
		font-weight: 500;
		letter-spacing: toRem(1.4);
		line-height: 148%;
		text-transform: uppercase;
		transition: color 0.3s;
		&:focus,
		&:active {
			color: $blueColor;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $blueColor;
			}
		}
		span {
			transition: transform 0.3s;
			font-size: toRem(14);
		}
		&.open {
			span {
				transform: rotate(180deg);
			}
		}
	}

	// .menu__subnav

	&__subnav {
		// display: none;
			background-color:$graylightPaginationColor;
		position: absolute;
		top: calc(100% + toRem(8));
		left: 0;
		line-height: 1.7;
		z-index: 10;
		min-width: toRem(150);
		box-shadow: 0 2px 4px $blueColor;
		border-radius: toRem(8);
		padding-inline: toRem(10);
		max-height: 0;
		overflow: hidden;
		transition:
			max-height 0.5s,
			padding 0.5s ease-in-out;
		//Прибераємо скрол бар полоску
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
			background: transparent;
		}
		&.open {
			padding-block: toRem(10);
			overflow: auto;
			max-height: 300px;
		}
		@media (max-width: toRem(767.98)) {
			position: relative;
			background-color: $greyColor;
			font-size: toRem(25);
			top: 0;
			&.open {
				max-height: 300px;
				overflow: scroll;
			}
		}
	}

	// .menu__subnav-item

	&__subnav-item {
		transition: background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $blueColor;
			}
		}
		@media (min-width: toRem(767.98)) {
			& a {
				&:focus,
				&:active {
					background-color: $blueColor;
					outline: none;
				}
			}
		}
	}

	// .menu__subnav-link

	&__subnav-link {
		width: 100%;
	}
}
.actions-header {
	// .actions-header__items
	z-index: 2;
	&__items {
		display: flex;
		font-size: toRem(18);
		@include adaptiveValue("column-gap", 19, 10);
	}

	// .actions-header__item

	&__item {
	}

	// .actions-header__link

	&__link {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: toRem(2);
		transition: color 0.3s;
		&:focus,
		&:active {
			color: $blueColor;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $blueColor;
			}
		}
		&:last-child {
			span {
				font-size: toRem(12);
				line-height: 1;
			}
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: toRem(767.98)) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
