<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="/">MiniStore<span>.</span></a>
    </div>
    <div class="header__menu menu">
      <!-- <button type="button" class="menu__icon icon-menu"><span></span></button> -->
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item"><a href="#" class="menu__link">Home</a></li>


          <li class="menu__item">
            <button type="button" class="menu__toggle-btn" aria-expanded="false" aria-label="Toggle sub menu">Pages
              <span class="_icon-ion_caret-down"></span></button>
            <ul class="menu__subnav">
              <li class="menu__subnav-item"><a href="#" class="menu__subnav-link">About us</a></li>
              <li class="menu__subnav-item"><a href="#" class="menu__subnav-link">Shop</a></li>
              <li class="menu__subnav-item"><a href="#" class="menu__subnav-link">Product</a></li>
              <li class="menu__subnav-item"><a href="#" class="menu__subnav-link">Card</a></li>
              <li class="menu__subnav-item"><a href="#" class="menu__subnav-link">Checkout</a></li>
              <li class="menu__subnav-item"><a href="#" class="menu__subnav-link">Blog</a></li>
              <li class="menu__subnav-item"><a href="#" class="menu__subnav-link">Blog-Post</a></li>
              <li class="menu__subnav-item"><a href="#" class="menu__subnav-link">Contact</a></li>
            </ul>

          </li>
          <li class="menu__item"><a href="#" class="menu__link">About</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Blogs</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Contact</a></li>
        </ul>
      </nav>


          <div class="header__actions actions-header">
            <ul class="actions-header__items">
              <li class="actions-header__item">
                <a class="actions-header__link _icon-ion_search" href="#"></a>
              </li>
              <li class="actions-header__item">
                <a class="actions-header__link _icon-ion_person" href="#"></a>
              </li>
              <li class="actions-header__item">
                <a class="actions-header__link _icon-ion_cart" href="#"><span>(0)</span></a>
              </li>
            </ul>
          </div>

      <button type="button" class="menu__icon icon-menu"><span></span></button>

    </div>

  </div>
</header>