<div class="features">
  <div class="features__container">
    <ul class="features__items">
      <li  data-aos="fade-up"   data-aos-offset="50" data-aos-duration="300" class="features__item">
        <div class="features__icon">
          <img class="features__image" src="images/features/01.svg" alt="Image">
        </div>
        <div class="features__text">
          <h3 class="features__label">Free delivery</h3>
          <p class="features__descr">Consectetur adipi elit lorem ipsum dolor sit amet.</p>
        </div>
      </li>
      <li data-aos="fade-up"   data-aos-offset="50" data-aos-duration="700" class="features__item">
        <div class="features__icon">
          <img class="features__image" src="images/features/02.svg" alt="Image">
        </div>
        <div class="features__text">
          <h3 class="features__label">Quality guarantee</h3>
          <p class="features__descr">Dolor sit amet orem ipsu mcons ectetur adipi elit.</p>
        </div>
      </li>
      <li data-aos="fade-up"   data-aos-offset="50" data-aos-duration="1000" class="features__item">
        <div class="features__icon">
          <img class="features__image" src="images/features/03.svg" alt="Image">
        </div>
        <div class="features__text">
          <h3 class="features__label">Daily offers</h3>
          <p class="features__descr">Amet consectetur adipi elit loreme ipsum dolor sit.</p>
        </div>
      </li>
      <li data-aos="fade-up"   data-aos-offset="50" data-aos-duration="1300" class="features__item">
        <div class="features__icon">
          <img class="features__image" src="images/features/04.svg" alt="Image">
        </div>
        <div class="features__text">
          <h3 class="features__label">100% secure payment</h3>
          <p class="features__descr">Rem Lopsum dolor sit amet, consectetur adipi elit.</p>
        </div>
      </li>
    </ul>
  </div>
</div>