<footer class="footer">
  <div class="footer__top">
    <div class="footer__container">
      <div class="footer_company company-footer">
        <div class="company-footer__logo">
          <a href="/">MiniStore<span>.</span></a>
        </div>
        <div class="company-footer__text">
          <p>Nisi, purus vitae, ultrices nunc. Sit ac sit suscipit hendrerit. Gravida massa volutpat aenean odio erat
            nullam
            fringilla.</p>
        </div>
        <div class="company-footer__cocial social-footer">
          <a href="#" class="social-footer__link _icon-s-facebook"></a>
          <a href="#" class="social-footer__link _icon-s-instagram"></a>
          <a href="#" class="social-footer__link _icon-s-twitter"></a>
          <a href="#" class="social-footer__link _icon-s-linkedin"></a>
          <a href="#" class="social-footer__link _icon-s-youtube"></a>
        </div>
      </div>
      <div data-spollers="767.98,max" class="footer__menu menu-footer">
        <details class="menu-footer__item ">
          <summary data-spoller-close class="menu-footer__title">Quick links</summary>
          <ul class="menu-footer__list">
            <li class="menu-footer__element"><a href="#" class="menu-footer__link">Home</a></li>
            <li class="menu-footer__element"><a href="#" class="menu-footer__link">About</a></li>
            <li class="menu-footer__element"><a href="#" class="menu-footer__link">Shop</a></li>
            <li class="menu-footer__element"><a href="#" class="menu-footer__link">Blogs</a></li>
            <li class="menu-footer__element"><a href="#" class="menu-footer__link">Contact</a></li>
          </ul>
        </details>
        <details class="menu-footer__item ">
          <summary data-spoller-close class="menu-footer__title">Help & info</summary>
          <ul class="menu-footer__list">
            <li class="menu-footer__element"><a href="#" class="menu-footer__link">Track Your Order</a></li>
            <li class="menu-footer__element"><a href="#" class="menu-footer__link">Returns policies</a></li>
            <li class="menu-footer__element"><a href="#" class="menu-footer__link">Shipping + Delivery</a></li>
            <li class="menu-footer__element"><a href="#" class="menu-footer__link">Contact Us</a></li>
            <li class="menu-footer__element"><a href="#" class="menu-footer__link">Faqs</a></li>
          </ul>
        </details>
        <details class="menu-footer__item ">
          <summary data-spoller-close class="menu-footer__title">Contact us</summary>
          <div class="menu-footer__contact contact-footer">
            <div class="contact-footer__body">
              <div class="contact-footer__text">
                <p>Do you have any queries or suggestions?</p>
              </div>
              <a href="mailto:yourinfo@gmail.com" class="contact-footer__link">yourinfo@gmail.com</a>
            </div>
            <div class="contact-footer__body">
              <div class="contact-footer__text">
                <p>If you need support? Just give us a call.</p>
              </div>
              <a href="tel:+5511122233344" class="contact-footer__link">+55 111 222 333 44</a>
            </div>
          </div>
        </details>
      </div>
    </div>
  </div>
  <div class="footer__bottom bottom-footer">
    <div class="bottom-footer__container">
      <div class="bottom-footer__left left-bottom">
        <div class="left-bottom__item item-left">
          <div class="item-left__body">
            <div class="item-left__text">
              <p>We ship with:</p>
            </div>
            <div class="item-left__icon">
                  <img src="images/copyright/fa-brands_dhl.svg" alt="Image">
            </div>
            <div class="item-left__icon">
                  <img src="images/copyright/arcticons_post.svg" alt="Image">
            </div>
          </div>

          <div class="item-left__body">
            <div class="item-left__text">
              <p>Payment options:</p>
            </div>
            <div class="item-left__icon">
              <img src="images/copyright/brandico_visa.svg" alt="Image">
            </div>
            <div class="item-left__icon">
              <img src="images/copyright/brandico_mastercard.svg" alt="Image">
            </div>
            <div class="item-left__icon">
              <img src="images/copyright/fontisto_paypal.svg" alt="Image">
            </div>
          </div>

        </div>
      </div>
      <div class="bottom-footer__right">
        <p>© Copyright 2023 MiniStore. Design by <a href="#">TemplatesJungle</a></p>
      </div>
    </div>

  </div>
</footer>
