<div class="testimonials">
  <div class="testimonials__container">
    <div class="testimonials__slider swiper">
      <div class="testimonials__wrapper swiper-wrapper">
        <div class="testimonials__slide swiper-slide">
          <div class="testimonials__content">
            <div class="testimonials__quote-top">
              <div class="testimonials__quotation-element _icon-blockquote-icon"></div>
              <div class="testimonials__text">
                <p>“Tempus oncu enim pellen tesque este pretium in neque, elit morbi sagittis lorem habi mattis Pellen
                  tesque pretium
                  feugiat vel morbi suspen dise sagittis lorem habi tasse morbi.”</p>
              </div>
            </div>
            <div class="testimonials__quote-bottom">
              <ul class="testimonials__stars">
                <li class="testimonials__star _icon-ion_star"></li>
                <li class="testimonials__star _icon-ion_star"></li>
                <li class="testimonials__star _icon-ion_star"></li>
                <li class="testimonials__star _icon-ion_star"></li>
                <li class="testimonials__star _icon-ion_star"></li>
              </ul>
              <h4 class="testimonials__name">Emma Chamberlin</h4>
            </div>
          </div>
        </div>
        <div class="testimonials__slide swiper-slide">
          <div class="testimonials__content">
            <div class="testimonials__quote-top">
              <div class="testimonials__quotation-element _icon-blockquote-icon"></div>
              <div class="testimonials__text">
                <p>“Tempus oncu enim pellen tesque este pretium in neque, elit morbi sagittis lorem habi mattis Pellen
                  tesque pretium
                  feugiat vel morbi suspen dise sagittis lorem habi tasse morbi.”</p>
              </div>
            </div>
            <div class="testimonials__quote-bottom">
              <ul class="testimonials__stars">
                <li class="testimonials__star _icon-ion_star"></li>
                <li class="testimonials__star _icon-ion_star"></li>
                <li class="testimonials__star _icon-ion_star"></li>
                <li class="testimonials__star _icon-ion_star"></li>
                <li class="testimonials__star _icon-ion_star"></li>
              </ul>
              <h4 class="testimonials__name">Emma Chamberlin</h4>
            </div>
          </div>
        </div>
      </div>
      <button class="testimonials__swiper-button testimonials__swiper-button--next _icon-arrow"></button>
      <button class="testimonials__swiper-button testimonials__swiper-button--prev _icon-arrow"></button>
    </div>
  </div>
</div>