<div class="smart-watches">
  <div class="smart-watches__products-section">
    <div class="products-section">
      <div class="products-section__container">

        <div class="products-section__header">
          <h2 class="products-section__title title">Smart Watches</h2>
          <a href="#" class="products-section__link">Go to Shop</a>
        </div>

        <div class="products-section__slider swiper">
          <div class="products-section__wrapper swiper-wrapper">
            <div class="products-section__slide swiper-slide">
              <div class="products-section__carts cards-products">
                <figure class="cards-products__card">
                  <img src="images/smart-watches/01.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Pink watch</h4>
                    <p class="cards-products__price">$870</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/smart-watches/02.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Heavy watch</h4>
                    <p class="cards-products__price">$680</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/smart-watches/03.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">spotted watch</h4>
                    <p class="cards-products__price">$750</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/smart-watches/04.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">black watch</h4>
                    <p class="cards-products__price">$650</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>
              </div>
            </div>
            <div class="products-section__slide swiper-slide">
              <div class="products-section__carts cards-products">
                <figure class="cards-products__card">
                  <img src="images/smart-watches/01.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Pink watch</h4>
                    <p class="cards-products__price">$870</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/smart-watches/02.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Heavy watch</h4>
                    <p class="cards-products__price">$680</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/smart-watches/03.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">spotted watch</h4>
                    <p class="cards-products__price">$750</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/smart-watches/04.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">black watch</h4>
                    <p class="cards-products__price">$650</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>
              </div>
            </div>
            <div class="products-section__slide swiper-slide">
              <div class="products-section__carts cards-products">
                <figure class="cards-products__card">
                  <img src="images/smart-watches/01.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Pink watch</h4>
                    <p class="cards-products__price">$870</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/smart-watches/02.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">Heavy watch</h4>
                    <p class="cards-products__price">$680</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/smart-watches/03.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">spotted watch</h4>
                    <p class="cards-products__price">$750</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>

                <figure class="cards-products__card">
                  <img src="images/smart-watches/04.jpg" alt="Image-product" class="cards-products__image">
                  <figcaption class="cards-products__descr">
                    <h4 class="cards-products__title">black watch</h4>
                    <p class="cards-products__price">$650</p>
                  </figcaption>
                  <button class="cards-products__button "> Add to cart <span class="_icon-ion_cart"></span></button>
                </figure>
              </div>
            </div>

          </div>
          <div class="products-section__swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>