@use "../scss/colors" as *;
@use "../scss/mixins" as *;
@use "../scss/fonts" as *;

@use "../scss/reset" as *;
@use "../scss/icons" as *;

// Компоненти
@use "../scss/common" as *;

.blog {
  @include adaptiveValue("padding-block-start", 120, 25);

  // .blog__container

  &__container {
  }

  // .blog__wrapper

  &__wrapper {
    display: flex;
    @include adaptiveValue("column-gap", 40, 20);
    @media (max-width: toEm(767.98)) {
      flex-direction: column;
      gap: toRem(15);
    }
  }

  // .blog__aside

  &__aside {
    flex-basis: toRem(290);
    @media (max-width: toEm(767.98)) {
      flex-basis: toRem(0);
    }
  }

  // .blog__posts

  &__posts {
    flex-basis: toRem(970);
    flex-grow: 1;
    @media (max-width: toEm(767.98)) {
      flex-basis: toRem(0);
    }
  }
}
.aside-blog {
  // .aside-blog__form

  &__form {
    @include adaptiveValue("margin-bottom", 40, 15);
    .form-sidebar {
      // .form-sidebar__label

      &__label {
        width: 100%;
      }

      // .form-sidebar__input

      &__input {
      }

      // .form-sidebar__button

      &__button {
      }
    }
  }

  // .aside-blog__categories

  &__categories {
    @media (max-width: toEm(767.98)) {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .filter-category__list-item {
      margin-bottom: toRem(0);
    }

    .filter-category {
      // .filter-category__wrapper

      &__wrapper {
        @media (max-width: toEm(767.98)) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: toRem(0);
        }
      }

      // .filter-category__item

      &__item {
      }

      // .filter-category__title

      &__title {
      }

      // .filter-category__list

      &__list {
        @media (max-width: toEm(767.98)) {
          align-items: flex-start;
        }
      }

      // .filter-category__list-item

      &__list-item {
        button {
          display: flex;
          column-gap: toRem(8);
          align-items: center;
          transition: color 0.3s;
          @media (any-hover: hover) {
            &:hover {
              picture {
                img {
                  transform: scale(1.05);
                }
              }
              h5 {
                color: $blueColor;
              }
            }
          }
          picture {
            flex-basis: toREm(109);
            flex-shrink: 0;
            overflow: hidden;
            img {
              min-width: 100%;
              aspect-ratio: 109 / 91;
              object-fit: cover;
              transition: transform 0.3s;
              will-change: transform;
            }
          }
          h5 {
            font-family: "Jost", sans-serif;
            line-height: 1.24;
            letter-spacing: toRem(0.06);
            text-transform: uppercase;
            color: $blackColor;
            transition: color 0.3s;
          }
        }
      }

      // .filter-category__button

      &__button {
      }

      // .filter-category__button--active

      &__button--active {
      }
    }
  }
}

.posts {
  // .posts__header

  &__header {
  }

  // .posts__content

  &__content {
  }

  // .posts__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(20);
    flex-wrap: wrap;
    @include adaptiveValue("margin-bottom", 60, 20);
    @media (max-width: toEm(767.98)) {
      grid-template-columns: repeat(2, 1fr);
      gap: toRem(10);
    }
    @media (max-width: toEm(470)) {
      grid-template-columns: 1fr;
      row-gap: toRem(20);
    }
    .card-post {
      // .card-post__image

      &__image {
        @media (min-width: toEm(470)) {
          aspect-ratio: 310 / 220;
          max-width: toRem(310);
        }
        @media (max-width: toEm(470)) {
          max-width: toRem(470);
        }
      }

      // .card-post__img

      &__img {
      }

      // .card-post__meta-post

      &__meta-post {
      }

      // .card-post__title-post

      &__title-post {
      }

      // .card-post__link-post

      &__link-post {
      }
    }
    .card-post__link-post {
    }
  }

  // .posts__pagination

  &__pagination {
  }
}
.header-posts {
  text-align: center;
  @media (max-width: toEm(767.98)) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(15);
  }
  @media (max-width: toEm(440)) {
    flex-direction: column;
  }
  &:not(:last-child) {
    margin-bottom: toRem(20);
    @media (max-width: toEm(767.98)) {
      margin-bottom: toRem(15);
    }
  }
  @media (min-width: toEm(767.98)) {
    display: flex;
    align-items: center;
    column-gap: toRem(20);
    justify-content: space-between;
  }
  // .header-posts__result

  &__result {
    font-weight: 300;
    letter-spacing: toRem(0.48);
  }

  // .header-posts__select-wrapper

  &__select-wrapper {
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover:not(:focus-within) {
        .block-pagination__sorting {
          color: $blueColor;
        }
      }
    }
  }

  // .header-posts__sorting

  &__sorting {
    text-align: right;
    outline: none;
    font-weight: 300;
    letter-spacing: toRem(0.48);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.post-meta {
  // .post-meta__time

  &__time {
  }

  // .post-meta__arrow

  &__arrow {
  }

  // .post-meta__category

  &__category {
  }
}
.pagination {
  // .pagination__arrow

  &__arrow {
  }

  // .pagination__arrow--prew

  &__arrow--prew {
  }

  // .pagination__btn

  &__btn {
  }

  // .pagination__btn--active

  &__btn--active {
  }

  // .pagination__arrow--next

  &__arrow--next {
  }
}
