

$darkGrayColor: #3A3A3A;
$blackColor: #272727;
$blueColor: #72AEC8;
$grayBluelightColor: #D7DDDF;
$greyColor:#EDF1F3;
$greyMediumColor: #848484;
$greyRectangleColor: #E1E1E1;
$darkGreyPaginationColor: #4A4A4A;
$graylightPaginationColor: #D3D3D3;
$bottomGrayLightColor :#CDCDCD;
$inputGreyLightColor: #D9D9D9;
$footerBottomGrayLightColor: #D0D0D0; 
$quoteGrayIceColor: #EBEFF1;
$whiteColor: #FFF;
$formBorderLightColor: #EEE;
