.page__product {
  
  @include adaptiveValue("padding-block-start", 120, 25);
}

.product-summary {
  // .product-summary__container

  &__container {
    display: flex;
    @include adaptiveValue("gap", 20, 10);
    @media (max-width: toEm(767.98)) {
      flex-direction: column;
    }
  }

  // .product-summary__image

  &__image {
    flex: 1 1 toRem(640);
    //max-width: toRem(640);
    @media (max-width: toEm(767.98)) {
      flex: 1 1 auto;
    }
  }

  // .product-summary__img

  &__img {
    width: 100%;
    //max-width: toRem(640);
    height: auto;
    aspect-ratio: 640 / 719;
  }

  // .product-summary__content

  &__content {
  }
}
.content-summary {
  flex-basis: toRem(640);
  // .content-summary__item

  &__item {
  }
}
.item-summary {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("gap", 20, 10);
  // .item-summary__titles-ratings

  &__titles-ratings {
  }

  // .item-summary__price

  &__price {
    font-weight: 500;
    @include adaptiveValue("font-size", 40, 28);
    color: $blueColor;
  }

  // .item-summary__text

  &__text {
    font-weight: 300;
    color: $blackColor;
    line-height: 1.38;
    letter-spacing: toRem(0.03);
  }

  // .item-summary__color

  &__color {
  }

  // .item-summary__sizes

  &__sizes {
  }

  // .item-summary__actions

  &__actions {
  }

  // .item-summary__meta

  &__meta {
    line-height: 1.38;
    letter-spacing: toRem(0.03);
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: toRem(10);
  }

  // .item-summary__sku

  &__sku {
  }

  // .item-summary__category

  &__category {
  }

  // .item-summary__tags

  &__tags {
  }
}
.ratings-titles {
  // .ratings-titles__title

  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  // .ratings-titles__rating

  &__rating {
    display: flex;
    gap: toRem(2.5);
    letter-spacing: toRem(0.03);
    line-height: 1.38;
    span {
      font-size: toRem(17);
      flex-shrink: 0;
    }
  }
}

.colors {
  letter-spacing: toRem(0.03);

  // .colors__label

  &__label {
    font-family: "Jost", sans-serif;
    font-size: toRem(20);
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }

  // .colors__list

  &__list {
    line-height: 1.38;
    display: flex;
    gap: toRem(20);
    letter-spacing: toRem(0.03);
  }

  // .colors__item

  &__item {
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $blueColor;
      }
    }
  }

  // .colors__item--active

  &__item--active {
    color: $blueColor;
  }
}
.size-item {
  font-family: "Jost", sans-serif;
  // .size-item__label

  &__label {
    font-size: toRem(20);
    letter-spacing: toRem(0.06);
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $blackColor;
    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }

  // .size-item__list

  &__list {
    line-height: 1.38;
    display: flex;
    @include adaptiveValue("gap", 20, 10);
    letter-spacing: toRem(0.03);
  }

  // .size-item__option

  &__option {
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $blueColor;
      }
    }
  }
}
.actions-summary {
  &__stock {
    line-height: 1.38;
    letter-spacing: toRem(0.03);
    color: $blackColor;
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
  // .actions-summary__quantity

  &__quantity {
  }

  // .actions-summary__buttons

  &__buttons {
    display: flex;
    gap: toRem(15);
  }

  // .actions-summary__button

  &__button {
  }
}
.quantity {
  line-height: 1.38;
  letter-spacing: toRem(0.03);
  color: $blackColor;
  display: flex;
  gap: toRem(6);
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 20, 10);
  }
  // .quantity__button

  &__button {
    border: 1px solid $formBorderLightColor;
    flex-basis: toRem(44);
    height: toRem(44);
    transition: font-size 0.3s background-color 0.3s;
    box-shadow: 0 0 toRem(44) 0 rgba(0, 0, 0, 0.08);
    @include adaptiveValue("padding-inline", 16, 4);
    @media (any-hover: hover) {
      &:hover {
        background-color: $blueColor;
      }
    }
  }

  // .quantity__input

  &__input {
    text-align: center;
    flex-basis: toRem(90);
    border: toRem(1) solid $formBorderLightColor;
    padding: toRem(10) toRem(0);
    box-shadow: 0 0 toRem(44) 0 rgba(0, 0, 0, 0.08);
  }
}

.product-details {
  @include adaptiveValue("padding-block-start", 120, 25);
  // .product-details__container

  &__container {
  }
}
.details {
  // .details__navigation
  display: flex;
  flex-direction: column;
  @media (min-width: toEm(768)) {
    @include adaptiveValue("gap", 30, 20);
  }
  &__navigation {
    display: flex;
    text-align: center;
    @include adaptiveValue("gap", 60, 20);
    @media (min-width: toEm(768)) {
      padding-block-end: toRem(20);
      border-bottom: toRem(1) solid $bottomGrayLightColor;
    }
  }

  // .details__title

  &__title {
    display: flex;
    font-family: "Jost", sans-serif;
    @include adaptiveValue("font-size", 30, 20);
    line-height: 1.14;
    letter-spacing: toRem(0.06);
    text-transform: uppercase;
    color: $blackColor;
    transition: text-decoration 0.3s;
    span {
      display: none;
      transition: transform 0.5s;
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }
    &._tab-active {
      color: $blueColor;
      span {
        transform: rotate(180deg);
      }
    }
    @media (max-width: toEm(767.98)) {
      margin-bottom: toRem(10);
      gap: toRem(5);
      span {
        display: block;
      }
    }
  }

  // .details__content

  &__content {
    //display: block;
    height: auto;
    @media (min-width: toEm(768)) {
      padding-block-end: toRem(30);
      border-bottom: toRem(1) solid $bottomGrayLightColor;
    }
  }

  &__body {
    height: 100%;
    font-weight: 300;
    line-height: 1.38;
    letter-spacing: toRem(0.03);
    &:not(:last-child) {
      margin-bottom: toRem(10);
      h2 {
        @include adaptiveValue("margin-bottom", 40, 20);
      }
      p {
        @include adaptiveValue("margin-bottom", 15, 10);
        &:last-of-type {
          margin-bottom: 0 !important;
        }
      }
      ul {
        @include adaptiveValue("margin-bottom", 40, 20);
        li {
          list-style: disc;
          margin-inline-start: toRem(25);
        }
      }
    }
  }
}
