@use "../scss/colors" as *;
@use "../scss/mixins" as *;
@use "../scss/fonts" as *;

@use "../scss/reset" as *;
@use "../scss/icons" as *;

// Компоненти
@use "../scss/common" as *;

.product-pagination {
  @include adaptiveValue("padding-block-start", 120, 25);

  // .product-pagination__container

  &__container {
    display: flex;
    column-gap: toRem(40);
    @media (max-width: toEm(767.98)) {
      flex-direction: column-reverse;
    }
  }

  // .product-pagination__block

  &__block {
  }

  // .product-pagination__sidebar

  &__sidebar {
  }
}
.block-pagination {
  // .block-pagination__header

  &__header {
    text-align: center;
    @media (max-width: toEm(767.98)) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(15);
    }
    @media (max-width: toEm(440)) {
      flex-direction: column;
    }
    &:not(:last-child) {
      margin-bottom: toRem(20);
      @media (max-width: toEm(767.98)) {
        margin-bottom: toRem(15);
      }
    }
    @media (min-width: toEm(767.98)) {
      display: flex;
      align-items: center;
      column-gap: toRem(20);
      justify-content: space-between;
    }
  }

  // .block-pagination__result

  &__result {
    font-weight: 300;
    letter-spacing: toRem(0.48);
  }

  &__select-wrapper {
    transition: color 0.3s;
    @media (any-hover: hover){
      &:hover:not(:focus-within){
        .block-pagination__sorting {
          color:$blueColor;
        }
      }
    }
  }
  &__sorting {
    outline: none;
    width: toRem(120);
    font-weight: 300;
    letter-spacing: toRem(0.48);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .block-pagination__carts

  &__carts {
    &:not(:last-child) {
      margin-bottom: toRem(60);
    }
    .cards-products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: toRem(20);
      row-gap: toRem(40);
      flex-wrap: wrap;
      max-width: toRem(970);
      @media (max-width: toEm(991.98)) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: toRem(10);
      }
      // .cards-products__card
      &__card {
      }

      // .cards-products__image

      &__image {
      }

      // .cards-products__descr

      &__descr {
      }

      // .cards-products__title

      &__title {
      }

      // .cards-products__price

      &__price {
      }

      // .cards-products__button

      &__button {
      }
    }
  }

  // .block-pagination__pagination

  &__pagination {
  }
}


.sidebar {
  // .sidebar__filter

  &__filter {

  }
}
